

.head{
    position: fixed;
    top:0;
    background-color: lightblue;
    text-align: center;
    height: 40px;
    padding: 20px;
    width: 100%;
    border: 1px solid black;
   

}
.cat-left{
   
   
}
.first-cat{
    position: absolute;
    top: 20px;
    margin: 30px;
    width: 30vw;
}
.second-cat{
    margin: 30px;
    width: 30vw;
}
.third-cat{
    margin: 30px;
    width: 30vw;
}
.flower1{
    position: absolute;
    top: 20%;
}

.cyber-punk{
    width: 300px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 150px;

}
